@import "../variables";


.top-bar-nav {
  height: 40px;
  background-color: $dark-primary;
  display: flex;
  color: $white;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1101;
}

.logo-nav {
  margin: 20px 15px;
  font-size: 24px;
  color: $white;
  font-weight: 100;
}

.name {
  font-size: 18px;
  padding: 10px;
  color: $primary-text;
}

.nav-icons {
  color: $primary-text;
}
